<% if resource.errors.any? %>
  <div id="error_explanation">
    
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      
      <ul class="mb-0">
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        <button type="button" class="btn-close alert-dismissible" data-bs-dismiss="alert" aria-label="Close"></button>
      </ul>

    </div>

  </div>
<% end %>
