 <!--Header and Intro-->
  <div class="container-fluid text-center mt-5">
    <h1 class="mb-3">My Portfolio</h1>
    
    <p>
    Hello! I am Patrick Woods, a Computer Science student at UCCS eager to learn about professional software engineering and it's applications.
    </p>

    <a href="https://eas.uccs.edu/cs/academics/undergraduate-programs/bachelor-of-science-in-computer-science">Click here to see degree program</a>
  </div>

<div class="container mt-5">
    
    <h2>Skills</h2>
    
    <hr class="w-50"/>

    <div class="row">

      <div class="col-sm-3">
        <h4>Languages</h4>

        <ul class="mt-2">
            <li>C/C++</li>
            <li>Java</li>
            <li>JavaScript</li>
            <li>Python</li>
            <li>Assembly</li>
          </ul>
      </div>

      <div class="col-sm-3">
        <h4>Soft Skills</h4>

        <ul class="mt-2">
            <li>Adaptable</li>
            <li>Strong work ethic</li>
            <li>Problem solver</li>
            <li>Team player</li>
          </ul>
      </div>


    </div>
</div>

<!--Project Grid-->
<div class="container mt-5">

    <div class="d-flex align-items-center">
      <h2>Projects</h2>
      
      <% if user_signed_in? && current_user.isAdmin? %>
        <%= link_to "New project", new_project_path, class: "btn btn-primary ms-4" %>
      <% end %>
    </div>

    <!--Single row that wraps around to accommodate other projects-->
    <div class="row">

        <% @projects.each do |project| %>
          
          <div class="col-sm-4 my-3">
            <div class="card text-white bg-secondary">
                <div class="card-body">
                  <h5 class="card-title"><%= project.title %></h5>
                  <p class="card-text"><%= project.description %></p>
                  <%= link_to "Show this project", project, class: "btn btn-primary" %>
                </div>
            </div>
          </div>

        <% end %>

    </div>

</div>
